{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}
<br>
<div class="container mt-3">
  <div class=" float-right">
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Help
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h1 class="modal-title">Guideline</h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <h4>Annotation Steps</h4>
            <ul>
              <li>Read the sentence</li>
              <li>Select the closest sentiment you think</li>
              <li>Rate it on how much abusive you think the sentence is</li>
              <li>If abusive, select who might it be targetted to</li>
            </ul>
            <h6>Language identification(LID)</h6>
            <p>Select the accurate language tag for the token. Here,</p>
            <ul>
              <li>BN= Bangla</li>
              <li>EN= English</li>
              <li>FW= Foreign word</li>
              <li>Ambiguous= Select this tag if it's not clear</li>
              <li>NE= Name Entity, select if the tag is name or entity</li>
              <li>Other= select if the tag is number, emoji or other punctuation</li>
              <li><b>Example</b>: Rafi(NE) tui(BN) block(EN) khabi(BN) 😤(other)</li>
            </ul>
            <h6>Name Entity Recognition(NER)</h6>
            <p>It uses BIO notation, which differentiates the <b>beginning</b> (B) and the <b>inside</b>(I) of entities.
              O is used for <b>non-entity</b> tokens.</p>
            <ul>
              <li>O is outside of named entities </li>
              <li>I-XXX tag is used for words inside a
                named entity of type XXX </li>
              <li>Whenever two entities of
                type XXX are immediately next to each other, the
                <b>first</b> word of the second entity will be tagged B-XXX
                in order to show that it starts another entity</li>
              <li>It contains four types of entities, <b>persons</b> (PER),
                <b>organizations</b> (ORG), <b>locations</b> (LOC) and <b>miscellaneous</b> names (MISC).</li>
              <li><b>Example, IOB2</b>:Alex (B-PER)
                is (O)
                going (O)
                to (O)
                Los (B-LOC)
                Angeles (I-LOC)
                in (O)
                California (B-LOC)</li>
              <li><b>Example, IOB</b>:Alex (I-PER)
                is (O)
                going (O)
                to (O)
                Los (I-LOC)
                Angeles (I-LOC)
                in (O)
                California (I-LOC)</li>
            </ul>
            <h6>Abusive Target</h6>
            <p>Select N/A if the the sentence is not abusive</p>

          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<br>

<form action="{{ url_for('finish') }}" method="post" id="results">
  {% for sen in eval_data %}
  <div class="container mt-3">

    <h2>Sentence: {{loop.index}}</h2>
    <div class="container p-3 my-3 border">
      <p>{{sen['sentences']}}</p>

    </div>
  </div>
  <div class="container mt-3">
    <h2>Sentiment Analysis</h2>
    <div class="container mt-3">

      <!-- Default inline 1-->
      <input type="radio" name="sentiment_analysis" value="very_positive"> Very Positive
      <input type="radio" name="sentiment_analysis" value="slightly_positive"> Slightly Positive
      <input type="radio" name="sentiment_analysis" value="neutral"> Neutral
      <input type="radio" name="sentiment_analysis" value="slightly_negative"> Slightly Negative
      <input type="radio" name="sentiment_analysis" value="very_negative"> Very Negative <br>
      <!-- <form action="/action_page.php"> -->
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline1"
          name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
        <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline1">Very Positive</label>
      </div>

      <!-- Default inline 2-->
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline2"
          name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
        <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline2">Slightly Positive</label>
      </div>

      <!-- Default inline 3-->
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline3"
          name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
        <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline3">Neutral</label>
      </div>

      <!-- Default inline 4-->
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}defaultInline4"
          name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
        <label class="custom-control-label" for="{{sen['sent_id']}}defaultInline4">Slightly Negative</label>
      </div>

      <!-- Default inline 5-->
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline5"
          name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
        <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline5">Very Negative</label>
      </div>
      <!-- </form> -->
    </div>
  </div>
  <br>



  <h2>Humor Detection</h2>
  <div class="container mt-3">

    <!-- Default inline 1-->
    <input type="radio" name="humor_detection" value="is_humorous"> Is Humorous
    <input type="radio" name="humor_detection" value="not_humor"> Not Humor<br>
    <!-- <form action="/action_page.php"> -->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline1"
        name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
      <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline1">Is Humorous </label>
    </div>

    <!-- Default inline 2-->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline2"
        name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
      <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline2">Not Humor</label>
    </div>
    <!-- </form> -->
  </div>
  </div>

  <br>

  <div class="container mt-3">
    <h2>Abusive Sentence</h2>
    <div class="container mt-3">
      <form action="/action_page.php">
        <!-- Default inline 6-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline6"
            name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
          <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline6">Very</label>
        </div>

        <!-- Default inline 7-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline7"
            name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
          <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline7">Slightly</label>
        </div>

        <!-- Default inline 8-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline8"
            name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
          <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline8">Not Sure</label>
        </div>


        <!-- Default inline 9-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline9"
            name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
          <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline9">Not at all</label>
        </div>

      </form>
    </div>
  </div>

  <br>

  <div class="container mt-3">
    <h2>Abusive Target</h2>
    <div class="container mt-3">
      <form action="/action_page.php">

        <!-- Default inline 10-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline10"
            name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
          <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline10">N/A</label>
        </div>
        <!-- Default inline 11-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline10"
            name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
          <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline10">Person</label>
        </div>
        <!-- Default inline 12-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline10"
            name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
          <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline10">Religion</label>
        </div>
        <!-- Default inline 13-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline10"
            name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
          <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline10">Gender</label>
        </div>
        <!-- Default inline 14-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline10"
            name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
          <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline10">Race</label>
        </div>

        <!-- Default inline 15-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline11"
            name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
          <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline11">Entity</label>
        </div>

        <!-- Default inline 16-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="{{sen['sent_id']}}#defaultInline12"
            name="{{sen['sent_id']}}#inlineDefaultRadiosExample">
          <label class="custom-control-label" for="{{sen['sent_id']}}#defaultInline12">Miscellaneous</label>
        </div>


      </form>
    </div>
  </div>



  <br>



  <div class="container mt-3">

    <h2>Annotation Table</h2>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Tokens</th>
          <th>LID</th>
          <th>NER</th>
        </tr>
      </thead>
      {% for t in sen['tokens'] %}
      <tbody>
        <tr>
          <td> {{loop.index}} </td>
          <td> {{t}} </td>
          <td>
            <select>
              <option selected disabled>--Select LID--</option>
              <option>BN</option>
              <option>EN</option>
              <option>FW </option>
              <option>Ambiguous </option>
              <option>NE</option>
              <option>Other </option>
            </select>
          </td>
          <td>
            <select>
              <option selected disabled>--Select NER--</option>
              <option>B-PER</option>
              <option>I-PER</option>
              <option>B- LOC </option>
              <option>I- LOC </option>
              <option>B- ORG </option>
              <option>I- ORG </option>
              <option>B- GRP</option>
              <option>I- GRP</option>
              <option>B- PROD </option>
              <option>I- PROD </option>
              <option>B- TTL </option>
              <option>I- TTL </option>
              <option>B- EVNT </option>
              <option>I- EVNT </option>
              <option>B- TIME </option>
              <option>I- TIME </option>
              <option>B- MISC </option>
              <option>I- MISC </option>
              <option> O </option>
            </select>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>

  <br>

  {% endfor %}

  <div class="container">
    <form action="/finish" method="post">
      <button name="next" type="submit">Next</button>
    </form>
    <br>
    <!--<button type="button" class="btn btn-success">Submit</button>-->
    <button type="button" class="btn btn-secondary">Skip</button>
    <!--<button id="next" class="btn btn-success" onclick="window.location.href = `/finish`;">Next</button>-->
  </div>
  <!-- <input class="btn-dark" type="submit"> -->
</form>
<br>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/annotate.js') }}"></script>
<script src="{{ url_for('static', filename='js/hover.js') }}"></script>
<script>
  var selectedOption = $("input:radio[name=sentiment_analysis]:checked").val()
</script>
<script>
  $('document').ready(function () {
    apply_hover_effect();
  });
</script>
{% endblock %}Is Completed